@font-face{
    font-family: 'Mikar';
    src:local('Mikar');
    src: url(../fonts/Mikar.ttf)
  }
  
  body {
      font-family: 'Mikar';
      font-weight: 400;
      font-size: 18px;
      background-color:#F2F2EF;
      margin: 0px;
      padding: 0px;
    }
    
    .container {
      max-width: 1920px;
      margin: 0 auto;
      display: grid;
    }
    
    
    .btn {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      border: 2px solid #fff;
      padding: 10px 20px;
      font-size: 16px;
      
      transition: 0.2s opacity;
    }
    .btn:hover {
      opacity: 0.8;
    }
    .btn:active {
      opacity: 0.6;
    }
    
    
    
    /* HEADER */
    .header {
      text-align: center;
      height: 125px;
      background-color: #759242;
      display: grid;
      /* grid-template-rows: max-content;
      grid-template-columns: 1fr 1fr 100px;
      grid-template-areas: "logo nav search"; */
      grid-template: "logo nav search" max-content / 1.5fr 3.5fr 0.5fr;
      align-items: center;
      justify-items: start;
      
      padding: 15px 0;
    
      text-transform: uppercase;
    
      overflow: hidden;
    }
    
    .logo {
      line-height: 1;
      grid-area: logo;
      justify-self: center;
      align-self: center;
    }
    
    .header__nav {
      grid-area: nav;
      transform: translate(-15px);
    }
    
    .header__nav ul {
      display: flex;
      gap: 10px;
    }
  
  
    .header__nav li {
      list-style-type: none;
      margin-right: 100px;
    }
    
    .header__nav a {
      padding: 15px;
      transition: color 0.2s;
    
      position: relative;
      display: inline-block;
    }
    
    .header__nav a:hover {
      color: #374709;
    }
    
    .header__nav a:active {
      color: #44a7a2;
    }
    
    .header__nav a::after {
      content: "";
      display: block;
      width: 80%;
      height: 100%;
    
      background-color:  #374709;;
    
      position: absolute;
      left: 15px;
      bottom: -200%;
    
      transition: bottom 0.5s, background-color 0.2s;
    }
    
    .header__nav a:hover::after {
      bottom: -80%;
    }
    
    .header__nav a:active::after {
      background-color: #44a7a2;
    }
    
    
    .search {
      grid-area: search;
    }
    .search__icon {
      transition: fill 0.2s;
    }
    .search__icon:hover {
      fill: #54B9B4;
    }
    .search__icon:active {
      fill: #44a7a2;
    }
    

    
  /* Стили для корзины */
/* .cart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.cart-icon img {
  width: 30px;
  height: 30px;
} */

.cart-icon .cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
}

.cart-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.cart-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.cart-total {
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
}  

.order-button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.order-button:hover {
  background-color: darkgreen;
}



/* .Our_farme{
  margin-left: 150px;
  margin: 100px;
  display: inline;
} */

/* h1{
  font-size: 40px;
  color: #212517;
  margin: 90px;
  margin-top: 15px;
  margin-left: 300px;
 } */

h3{
  font-size: 22px;
  color: #212517;
  margin: 40px;
  margin-bottom: 10px;
}

h4{
  font-size: 22px;
  color: #212517;
  margin: 40px;
  
}

.section {
  margin: 100px;
  padding: 20px;
  border: 11px solid #374709;
}

#history{
  border: 11px solid #374709;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: justify;
}

#animals {
  border: 11px solid #374709;
  padding: 20px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 400px;
}

#staff {
  border: 11px solid #374709;
  padding: 20px;
  margin-bottom: 30px;
  margin-left: 400px;
  margin-right: 0px;
}


.pictures {
  width: 300px;
  height: auto;
  margin-top: 30px;
  margin-right: 10px;
}





.wrapper-down {
  display: grid;
  /* grid-template-columns: 4.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "footer sidebar"; */

  grid-template: "footer sidebar" 0.75fr / 4.5fr 1.5fr;
  margin-top: 220px;
}

/* FOOTER */
.footer {
  padding-top: 80px;

  grid-area: footer;

  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1fr;
  grid-template-rows: max-content 30px;
  grid-template-areas:  ". socials form logo"
                        ". . . copy";

  grid-template:  ". socials form logo" max-content
                  ". . . copy" 30px / 1fr 1fr 1.5fr 1fr;
  align-items: end;
  align-content: center;

  background-color: #374709;

  color: #fff;
}

.socials {
  grid-area: socials;
  display: flex;
  gap: 10px;
}

.socials__link {
  border: 2px solid #F2F2EF;
  border-radius: 50%;

  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 0.2s;
}
.socials__link:hover {
  opacity: 0.8;
}
.socials__link:active {
  opacity: 0.6;
}

.socials__icon {
  width: 20px;
  height: 20px;
  color: #F2F2EF;

}

.socials__icon :hover {
  fill: #F2F2EF;
}
.socials__icon:active {
  fill: #F2F2EF;
}

.form {
  grid-area: form;
  text-transform: uppercase;
}

.form__title {
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.form__row {
  display: flex;
}

.form__input {
  height: 40px;
  width: 200px;
  padding: 0 20px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}

.form__input:focus {
  background-color: rgb(255, 255, 255);
}

.form__submit-btn {
  background-color:#759242;
  color: #fff;
  height: 40px;
  padding: 0 20px;
  text-transform: uppercase;
  letter-spacing: 2px;

  transition: background-color 0.2s;
}
.form__submit-btn:hover {
  background-color: #759242;
}
.form__submit-btn:active {
  background-color: #759242;
}



.footer__logo {
  grid-area: logo;
}

.copy {
  grid-area: copy;
  color: #6A6A6A;
  align-self: center;
  justify-self: center;
  margin-bottom: 20px;
  margin-left: 5px;
}

/* SIDEBAR */
.sidebar {
  grid-area: sidebar;
  background-color:#759242;
}

.btn--rounded {
  border-radius: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.sidebar p + .btn {
  margin-top: 20px;
}

.sidebar .title {
  width: 100px;
}
